<style>
    .overviewrd {
        display: grid;
        grid-gap: 26px;
        grid-template-columns: 33% 33% 33%;
    }

    .focus {
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0 rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
        border-radius: 5px;
        padding: 23px;
        cursor: pointer;
    }

    .focus:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    h4 {
        margin-top: 0 !important;
    }

    .focus-desc {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        margin-top: 10px;
    }

    .link-tag {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0 !important;
    }

    @media only screen and (max-width: 600px) {
        .overviewrd {
            grid-template-columns: 100%;
        }
    }

</style>
<div class="overviewrd">

    {% for focus in include.overviewrd %}
    <div class="focus">
        <a href="{{ focus.link}}" class="link-tag"></a>
        <h4>{{ focus.area }}</h4>
        <span class="focus-desc">{{ focus.desc }}</span>
    </div>
    {% endfor %}

</div>